<div id="root" data-product_id='{{ product.id }}' data-product_title='{{ product.title }}'>Product Reviews</div>

{% schema %}
{
  "name": "Product Reviews",
  "target": "section",
  "javascript": "main.js",
  "stylesheet": "main.css",
  "settings": [{ "type": "product", "id": "product", "label": "product", "autofill": true }]
}
{% endschema %}